@model CinemaTicketProject.Models.Admin

@{
    ViewBag.Title = "AdminGiris";
    Layout = "~/Views/Shared/ab.cshtml";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />

</head>



    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div  class="col-lg-6 d-none d-lg-block bg-login" style="background-image: url('../../Images/login.jpg'); background-repeat:no-repeat;"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Pix Cinema Club Admin Paneli!</h1>
                                    </div>
                                    @using (Html.BeginForm("AdminGiris", "Admin", FormMethod.Post))
                                    {
                                        @Html.ValidationSummary(true)
                                    <form class="user">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">E-mail:</label>
                                            <div>
                                                @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Şifre:</label>
                                            <div>
                                                @Html.EditorFor(model => model.AdminSifre, new { htmlAttributes = new { @class = "form-control", maxlength = "16", type = "password" } })
                                                @Html.ValidationMessageFor(model => model.AdminSifre, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Beni Hatırla</label>
                                            </div>
                                        </div>
                                        <span style="color:orangered;">@Session["Hata"]</span>
                                        <div class="form-group">
                                            <div>
                                                <input type="submit" value="Giriş Yap" class="btn btn-primary btn-block" />
                                            </div>
                                        </div>
                                        <hr>
                                        <a href="#" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Google ile Giriş Yap
                                        </a>
                                        <a href="#" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Facebook ile Giriş Yap
                                        </a>
                                    </form>
                                        <hr>
                                       
                                    }
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


