@model CinemaTicketProject.Models.Salon

@{
    ViewBag.Title = "SalonDetay";
    Layout = "~/Views/Shared/Sin.cshtml";
}

<br />

<h2 style="text-align:center; ">@Model.SalonAdi</h2>
<hr />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <img src="/Images/@Model.SalonResim" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">@Model.SalonAdi</h5>
                    <p class="card-text">@Model.SalonSlogan</p>
                    <p class="card-text">@Model.SalonAciklamasi </p>

                    <p class="card-text"><small class="text-muted">@Model.SalonKapasite <b></b></small></p>
                    <div class="btn-group">

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>